{% extends "base.html" %}

{% block content %}
<div class="info info-sticky">
Последние 500 событий
</div>

<div class="table-wrap">
<table>

<tr>
<th scope="col">Время</th>
<th scope="col">IP</th>
<th scope="col">Hostname</th>
<th scope="col">MAC</th>
<th scope="col">Событие</th>
<th scope="col">Уровень</th>
</tr>

{% for e in events %}

<tr>

<td>{{ e[0] }}</td>
<td>{{ e[1] }}</td>
<td>{{ e[2] or '-' }}</td>
<td>{{ e[3] or '-' }}</td>

<td>

{% if e[4] == 'ONLINE' %}

<span class="online">● ONLINE</span>

{% elif e[4] == 'OFFLINE' %}

<span class="offline">● OFFLINE</span>

{% else %}

<span class="new">● {{ e[4] }}</span>

{% endif %}

</td>

<td>
{% if e[5] == 'critical' %}
<span class="status-critical">critical</span>
{% elif e[5] == 'warning' %}
<span class="status-warn">warning</span>
{% else %}
<span class="status-info">{{ e[5] or 'info' }}</span>
{% endif %}
</td>

</tr>

{% endfor %}

</table>
</div>
{% endblock %}
